---
import BackToTop from "@components/BackToTop.astro";
import Container from "@components/Container.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
  </Container>
</footer>
